@font-face {
    font-family: "InterUISemiBold";
    src: url('https://download1638.mediafire.com/7wfl763bysog/0eg0k1cuvn6gkvt/Inter-SemiBold.woff')
}
@font-face {
    font-family: "LexendDeca";
    src: url('https://download1487.mediafire.com/qo3vzos1gtkg/l9dkwa4wmp6pl3p/LexendDeca-Regular.ttf')
}

.logo {
font-family: 'Meddon', cursive;
}

.subtitle {
font-family: 'Inter';
}

/* ACTUAL USERNAME STUFF */
body {
font-family: 'Inter';
text-align: center;
}

.username {
font-family: 'Inconsolata', monospace;
}

.stats {
font-family: 'Inter';
text-align: center;
}

footer {
font-family: 'Inter';
text-align: center;
}

table {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

a { 
    color: royalblue;
}

a.one { 
    color: skyblue;
}

a.two { 
    color: cornflowerblue;
}

th {
    text-align: left;
}

.scrollbar {
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    font-family: "Meddon", cursive;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    width: 10px;
}