.logo {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    background-color: honeydew;
}

.subtitle {
font-family: 'Inter';
}

/* ACTUAL USERNAME STUFF */
body {
font-family: 'Inter';
text-align: center;
}

.username {
font-family: 'Inconsolata', monospace;
}

.stats {
font-family: 'Inter';
text-align: center;
}

.desc {
    text-align: left;
}

footer {
font-family: 'Inter';
text-align: center;
}

.table {
    width:auto;height:35%;line-height:3em;overflow:auto;padding:5px;border:1px solid;margin-right:10%;margin-left:10%;margin-top:50px;
    border-radius:10px;
}

table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px 2px;
}

h1 {
    font-size: 48px;
    font-weight:normal;
}

h2 {
    font-size: 42px;
    font-weight:normal;
    text-shadow:2px 2px 1px gray;
    margin: 5px;
}

h3 {
    font-size: 36px;
}

a { 
    color: royalblue;
}

.nhfirst { 
    color: rgb(135, 175, 235);
}

.nhmiddle { 
    color: cornflowerblue;
}

th {
    text-align: left;
}

.scrollbar {
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    font-family: "Meddon", cursive;
}
.uuid {
    font-weight: normal;
    font-family: "Inconsolata", monospace;
}
.black{
    color:black
}
.darkgray{
    color:gray;
}
.gray{
color: darkgray;
}
.lightgray {
    color:lightgray
}
.gold{
    color:#FFAA00
}
.turquoise{
    color:turquoise
}
.chartreuse{
    color:chartreuse
}
.firebrick{
    color:firebrick
}
.hotpink{
    color:hotpink
}
.darkblue{
    color:darkblue
}
.indigo{
    color:indigo
}
.chocolate {
    background-image: linear-gradient(to right, tomato, coral, gold, lawngreen, steelblue, blueviolet, orchid);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.mvpaqua{
    color:#55FFFF
}
.lime{
    color:#55FF55
}
.blue{
    color:#5555FF
}
.green{
    color:#00AA00
}
.red{
    color:#FF5555
}
.cyan{
    color:#00AAAA
}
.pink{
    color:#FF55FF
}
.dark_red{
    color:#AA0000
}
.green{
    color:#55FF55
}
.yellow{
    color:#ffff00
}
.decentyellow {
    color:#c0c000
}

.white{
    color:white
}
.light_purple{
    color:#FF55FF
}
.dark_green{
    color:#00AA00
}
.dark_aqua{
    color:#00AAAA
}
.dark_purple{
    color:#AA00AA
}
.black{
    color:#000000
}
/* SOCIAL MEDIA */
.twitter{
    color:cornflowerblue
}
.instagram{
    color:plum
}
.twitch{
    color:blueviolet;
}
.discord{
    color:darkslateblue
}
.hypixelForums{
    color:sienna
}
.youtube{
    color:red
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
border-radius: 15px;
}

::-webkit-scrollbar-track-piece {
    width: 10px;
}

.columnZ {
    float: left;
    width: 25%;
    margin-top: 15px;
}

.columnA {
    float: left;
    width: 45%;
}

.columnB {
    float: left;
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* .vl {
    border-left: 1px double black;
    height: 30%;
    position: absolute;
    left: 55%;
    margin-left: 1px;
    top: 25%;
} */

/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

.swgeneral {
    width:30%;
}

.leftsw {
    width: 15%;
}

.rightsw {
    width: 15%;
}