/*  ▄▄▄▄▄ ▄▄▄· ▪  ▄▄▌  ▄▄▌ ▐ ▄▌▪   ▐ ▄ ·▄▄▄▄      ▄▄· .▄▄ · .▄▄ · 
   •██  ▐█ ▀█ ██ ██•  ██· █▌▐███ •█▌▐███▪ ██    ▐█ ▌▪▐█ ▀. ▐█ ▀. 
   ▐█.▪▄█▀▀█ ▐█·██▪  ██▪▐█▐▐▌▐█·▐█▐▐▌▐█· ▐█▌   ██ ▄▄▄▀▀▀█▄▄▀▀▀█▄
  ▐█▌·▐█ ▪▐▌▐█▌▐█▌▐▌▐█▌██▐█▌▐█▌██▐█▌██. ██    ▐███▌▐█▄▪▐█▐█▄▪▐█
 ▀▀▀  ▀  ▀ ▀▀▀.▀▀▀  ▀▀▀▀ ▀▪▀▀▀▀▀ █▪▀▀▀▀▀•  ▀ ·▀▀▀  ▀▀▀▀  ▀▀▀▀  */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .two-px-border {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  @variants responsive {
    .text-center-resp {
      text-align: center;
    }
    .text-left-resp {
      text-align: left;
    }
    .row-end-18 {
      grid-row-end: 18;
    }
    .row-end-27 {
      grid-row-end: 27;
    }
  }
}

/*                                                                                   mm           
                                                                                    MM           
 ,p6"bo   ,pW"Wq.`7MMpMMMb.pMMMb. `7MMpdMAo.  ,pW"Wq.`7MMpMMMb.  .gP"Ya `7MMpMMMb.mmMMmm ,pP"Ybd 
6M'  OO  6W'   `Wb MM    MM    MM   MM   `Wb 6W'   `Wb MM    MM ,M'   Yb  MM    MM  MM   8I   `" 
8M       8M     M8 MM    MM    MM   MM    M8 8M     M8 MM    MM 8M""""""  MM    MM  MM   `YMMMa. 
YM.    , YA.   ,A9 MM    MM    MM   MM   ,AP YA.   ,A9 MM    MM YM.    ,  MM    MM  MM   L.   I8 
 YMbmd'   `Ybmd9'.JMML  JMML  JMML. MMbmmd'   `Ybmd9'.JMML  JMML.`Mbmmd'.JMML  JMML.`MbmoM9mmmP' 
                                    MM                                                           
                                  .JMML.                                                      */

@font-face {
  font-family: 'Inconsolata';
  src: 'https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap';
}

* {font-family:'Inconsolata'; line-height: 1.15;box-sizing:border-box}
p {padding-top:0.35rem;padding-bottom:0.35rem}
a, .link {text-decoration: underline;color:#666;}

footer{text-align:center;bottom:0}
.namehistable {
  max-height: 80vh;
}

::-webkit-scrollbar{height:10px;width:10px}
::-webkit-scrollbar-track{background:#ddd}
::-webkit-scrollbar-thumb{background:#aaa;border-radius: 5px;}
::-webkit-scrollbar-thumb:hover{background:#999;border-radius: 5px;}

#mobilelogo {
  display:none;
}

@media (max-width:1024px) {
  #mobilelogo {
    display: inline-flex;
  }
  #desktoplogo {
    display: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
#inputId:-webkit-autofill {
  background-color: transparent !important;
}


html {scroll-behavior:smooth}
.main>nav{position:sticky;top:8rem;align-self:start}
.section-nav li.active>a{color:#333;font-weight:500}
.section-nav{padding-left:0;border-left:0.2rem solid #ccc;}
.section-nav a{text-decoration:none;display:block;padding:.125rem 0;color:#ccc;transition:all 50ms ease-in-out}
.section-nav a:hover,.section-nav a:focus{color:#666}
.anchor {
  display:block;
  height:8.625rem;
  margin-top:-8.625rem;
}

.mapscag::before {
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
  pointer-events: none;
}

.twa-2x {
  margin: 0 !important
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  right:0;
  margin-top: 3rem;
  z-index: 99;
  opacity: 0;
  transition: opacity 1s;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 87.5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
  }

.tooltip:hover .tooltiptext {
  visibility: visible;
}

ul,ol{list-style:none;margin:0;padding:0}
li{margin-left:1rem}
h1{font-weight:300}

th {
  white-space: nowrap;
}
  .loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  }
  .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #02064a;
  animation: loader 2s infinite ease;
  }
  .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
  }
/*                  ,,                          
                 `7MM                          
                   MM                          
 ,p6"bo   ,pW"Wq.  MM  ,pW"Wq.`7Mb,od8 ,pP"Ybd 
6M'  OO  6W'   `Wb MM 6W'   `Wb MM' "' 8I   `" 
8M       8M     M8 MM 8M     M8 MM     `YMMMa. 
YM.    , YA.   ,A9 MM YA.   ,A9 MM     L.   I8 
 YMbmd'   `Ybmd9'.JMML.`Ybmd9'.JMML.   M9mmmP'  */

.black { color: black }
.blank {color: #010101}
.dark_blue { color: #00a }
.dark_green, .DARK_GREEN { color: #0a0 }
.dark_aqua, .cyan, .DARK_AQUA { color: #0aa }
.dark_red { color: #a00 }
.dark_purple, .purple { color: #a0a }
.gold, .GOLD { color: #fa0 }
.gray { color: #aaa }
.dark_gray, .darkgray { color: #555 }
.blue { color: #55f }
.green, .lime { color: #5f5 }
.aqua { color: #5ff }
.red { color: #f55 }
.light_purple, .pink { color: #f5f }
.yellow, .YELLOW { color: #ff0 }
.white { color: #fff }

.chocolate {background-image:linear-gradient(to right,tomato,coral,gold,lawngreen,steelblue,blueviolet,orchid);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.almost{background-image:linear-gradient(to right,#ddd6f3,#faaca8);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.lightgray { color: #ccc }
.orange { color: #f60 }
.lawn {color: #708f5b}
.yellowgreen {color: yellowgreen}
.master{background-image:linear-gradient(to right,lightcoral, crimson);-webkit-background-clip:text;-webkit-text-fill-color:transparent}

.twitter{color:#1da1f2}
.instagram{color:#c1558b}
.twitch{color:#8c45f7}
.discord{color:#7286d9}
.hypixelForums{color:#eabc48}
.youtube{color:#f00}

.mirror{background-image:radial-gradient(#ccc,#666);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.light{background-image:linear-gradient(to right,#fff,#ff0,#fa0);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.dawn{background-image:linear-gradient(to right,#fa0,#ccc,#228d7b);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.dusk{background-image:linear-gradient(to right,#93f,#f69,#fa0,#ff6);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.air{background-image:linear-gradient(to right,aqua,#ccc,#666);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.wind{background-image:linear-gradient(to right,#ccc,#0f0,#070);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.nebula{background-image:linear-gradient(to right,#900,#f30,#f3f);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.thunder{background-image:linear-gradient(to right,#ff6,#fff,#666);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.earth{background-image:linear-gradient(to right,#0f0,#070,#fa0,#ff6);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.water{background-image:linear-gradient(to right,aqua,teal, royalblue);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.fire{background-image:linear-gradient(to right,#ff3,#fa0,#800);-webkit-background-clip:text;-webkit-text-fill-color:transparent}

.fleuraphile{background-image:linear-gradient(to right,#0f0c29,#302b63,#24243e);-webkit-background-clip:text;-webkit-text-fill-color:transparent} 
                                           
/*  ██▄   ██     ▄▄▄▄▀ ██     ▄▄▄▄▀ ██   ███   █     ▄███▄     ▄▄▄▄▄   
   █  █  █ █ ▀▀▀ █    █ █ ▀▀▀ █    █ █  █  █  █     █▀   ▀   █     ▀▄ 
  █   █ █▄▄█    █    █▄▄█    █    █▄▄█ █ ▀ ▄ █     ██▄▄   ▄  ▀▀▀▀▄   
 █  █  █  █   █     █  █   █     █  █ █  ▄▀ ███▄  █▄   ▄▀ ▀▄▄▄▄▀    
███▀     █  ▀         █  ▀         █ ███       ▀ ▀███▀             
        █            █            █                                
       ▀            ▀            ▀                                  */

table.dataTable{width:100%;margin:0 auto;clear:both;border-collapse:separate;border-spacing:0}
table.dataTable thead th,table.dataTable tfoot th{font-weight:bold}
table.dataTable thead th,table.dataTable thead td{padding:10px 18px;border-bottom:1px solid #D1D5DB}
table.dataTable thead th:active,table.dataTable thead td:active{outline:0}
table.dataTable tfoot th,table.dataTable tfoot td{padding:10px 18px 6px 18px;border-top:1px solid #D1D5DB}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{cursor:pointer;*cursor:hand;background-repeat:no-repeat;background-position:center right}
table.dataTable thead .sorting{background-image:url("./images/sort_both.png")}
table.dataTable thead .sorting_asc{background-image:url("./images/sort_asc.png")!important}
table.dataTable thead .sorting_desc{background-image:url("./images/sort_desc.png")!important}
table.dataTable thead .sorting_asc_disabled{background-image:url("./images/sort_asc_disabled.png")}
table.dataTable thead .sorting_desc_disabled{background-image:url("./images/sort_desc_disabled.png")}
table.dataTable tbody tr{background-color:#fff}
table.dataTable tbody tr.selected{background-color:#b0bed9}
table.dataTable tbody th,table.dataTable tbody td{padding:8px 10px}
table.dataTable.row-border tbody th,table.dataTable.row-border tbody td,table.dataTable.display tbody th,table.dataTable.display tbody td{border-top:1px solid #ddd}
table.dataTable.row-border tbody tr:first-child th,table.dataTable.row-border tbody tr:first-child td,table.dataTable.display tbody tr:first-child th,table.dataTable.display tbody tr:first-child td{border-top:0}
table.dataTable.cell-border tbody th,table.dataTable.cell-border tbody td{border-top:1px solid #ddd;border-right:1px solid #ddd}
table.dataTable.cell-border tbody tr th:first-child,table.dataTable.cell-border tbody tr td:first-child{border-left:1px solid #ddd}
table.dataTable.cell-border tbody tr:first-child th,table.dataTable.cell-border tbody tr:first-child td{border-top:0}
table.dataTable.stripe tbody tr.odd,table.dataTable.display tbody tr.odd{background-color:#f9f9f9}
table.dataTable.stripe tbody tr.odd.selected,table.dataTable.display tbody tr.odd.selected{background-color:#acbad4}
table.dataTable.hover tbody tr:hover,table.dataTable.display tbody tr:hover{background-color:#f6f6f6}
table.dataTable.hover tbody tr:hover.selected,table.dataTable.display tbody tr:hover.selected{background-color:#aab7d1}
table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:#fafafa}
table.dataTable.order-column tbody tr.selected>.sorting_1,table.dataTable.order-column tbody tr.selected>.sorting_2,table.dataTable.order-column tbody tr.selected>.sorting_3,table.dataTable.display tbody tr.selected>.sorting_1,table.dataTable.display tbody tr.selected>.sorting_2,table.dataTable.display tbody tr.selected>.sorting_3{background-color:#acbad5}
table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:#f1f1f1}
table.dataTable.display tbody tr.odd>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd>.sorting_2{background-color:#f3f3f3}
table.dataTable.display tbody tr.odd>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd>.sorting_3{background-color:whitesmoke}
table.dataTable.display tbody tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1{background-color:#a6b4cd}
table.dataTable.display tbody tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2{background-color:#a8b5cf}
table.dataTable.display tbody tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3{background-color:#a9b7d1}
table.dataTable.display tbody tr.even>.sorting_1,table.dataTable.order-column.stripe tbody tr.even>.sorting_1{background-color:#fafafa}
table.dataTable.display tbody tr.even>.sorting_2,table.dataTable.order-column.stripe tbody tr.even>.sorting_2{background-color:#fcfcfc}
table.dataTable.display tbody tr.even>.sorting_3,table.dataTable.order-column.stripe tbody tr.even>.sorting_3{background-color:#fefefe}
table.dataTable.display tbody tr.even.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1{background-color:#acbad5}
table.dataTable.display tbody tr.even.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2{background-color:#aebcd6}
table.dataTable.display tbody tr.even.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3{background-color:#afbdd8}
table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1{background-color:#eaeaea}
table.dataTable.display tbody tr:hover>.sorting_2,table.dataTable.order-column.hover tbody tr:hover>.sorting_2{background-color:#ececec}
table.dataTable.display tbody tr:hover>.sorting_3,table.dataTable.order-column.hover tbody tr:hover>.sorting_3{background-color:#efefef}
table.dataTable.display tbody tr:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1{background-color:#a2aec7}
table.dataTable.display tbody tr:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2{background-color:#a3b0c9}
table.dataTable.display tbody tr:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3{background-color:#a5b2cb}
table.dataTable.no-footer{border-bottom:1px solid #D1D5DB}
table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}
table.dataTable.compact thead th,table.dataTable.compact thead td{padding:4px 17px}
table.dataTable.compact tfoot th,table.dataTable.compact tfoot td{padding:4px}
table.dataTable.compact tbody th,table.dataTable.compact tbody td{padding:4px}
table.dataTable th.dt-left,table.dataTable td.dt-left{text-align:left}
table.dataTable th.dt-center,table.dataTable td.dt-center,table.dataTable td.dataTables_empty{text-align:center}
table.dataTable th.dt-right,table.dataTable td.dt-right{text-align:right}
table.dataTable th.dt-justify,table.dataTable td.dt-justify{text-align:justify}
table.dataTable th.dt-nowrap,table.dataTable td.dt-nowrap{white-space:nowrap}
table.dataTable thead th.dt-head-left,table.dataTable thead td.dt-head-left,table.dataTable tfoot th.dt-head-left,table.dataTable tfoot td.dt-head-left{text-align:left}
table.dataTable thead th.dt-head-center,table.dataTable thead td.dt-head-center,table.dataTable tfoot th.dt-head-center,table.dataTable tfoot td.dt-head-center{text-align:center}
table.dataTable thead th.dt-head-right,table.dataTable thead td.dt-head-right,table.dataTable tfoot th.dt-head-right,table.dataTable tfoot td.dt-head-right{text-align:right}
table.dataTable thead th.dt-head-justify,table.dataTable thead td.dt-head-justify,table.dataTable tfoot th.dt-head-justify,table.dataTable tfoot td.dt-head-justify{text-align:justify}
table.dataTable thead th.dt-head-nowrap,table.dataTable thead td.dt-head-nowrap,table.dataTable tfoot th.dt-head-nowrap,table.dataTable tfoot td.dt-head-nowrap{white-space:nowrap}
table.dataTable tbody th.dt-body-left,table.dataTable tbody td.dt-body-left{text-align:left}
table.dataTable tbody th.dt-body-center,table.dataTable tbody td.dt-body-center{text-align:center}
table.dataTable tbody th.dt-body-right,table.dataTable tbody td.dt-body-right{text-align:right}
table.dataTable tbody th.dt-body-justify,table.dataTable tbody td.dt-body-justify{text-align:justify}
table.dataTable tbody th.dt-body-nowrap,table.dataTable tbody td.dt-body-nowrap{white-space:nowrap}
table.dataTable,table.dataTable th,table.dataTable td{box-sizing:content-box}
.dataTables_wrapper{position:relative;clear:both;*zoom:1;zoom:1}
.dataTables_wrapper .dataTables_length{float:left}
.dataTables_wrapper .dataTables_length select{border:1px solid #aaa;border-radius:3px;padding:5px;background-color:transparent;padding:4px}
.dataTables_wrapper .dataTables_filter{float:right;text-align:right}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 0.75rem;
    padding: 5px;
    margin-bottom:5px;
    background-color: white;
    width: 10rem;
    placeholder: 'Search...';
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    outline: none;
}
.dataTables_wrapper .dataTables_info{clear:both;float:left;padding-top:.755em}
.dataTables_wrapper .dataTables_paginate{float:right;text-align:right;padding-top:.25em}
.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;display:inline-block;min-width:1.5em;padding:.5em 1em;margin-left:2px;text-align:center;text-decoration:none!important;cursor:pointer;*cursor:hand;color:#000!important;border:1px solid transparent;border-radius:2px}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#000!important;border:1px solid #979797;background-color:white;}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#666!important;border:1px solid transparent;background:transparent;box-shadow:none}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:white!important;border:1px solid #D1D5DB;background-color:#585858;}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:0;background-color:#D1D5DB;}
.dataTables_wrapper .dataTables_paginate .ellipsis{padding:0 1em}
.dataTables_wrapper .dataTables_processing{position:absolute;top:50%;left:50%;width:100%;height:40px;margin-left:-50%;margin-top:-25px;padding-top:20px;text-align:center;font-size:1.2em;background-color:white;background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(25%,rgba(255,255,255,0.9)),color-stop(75%,rgba(255,255,255,0.9)),color-stop(100%,rgba(255,255,255,0)));background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.9) 25%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,0) 100%);background:-moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.9) 25%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,0) 100%);background:-ms-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.9) 25%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,0) 100%);background:-o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.9) 25%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,0) 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,0.9) 25%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,0) 100%)}
.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate{color:#000}
.dataTables_wrapper .dataTables_scroll{clear:both}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{*margin-top:-1px;-webkit-overflow-scrolling:touch}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td{vertical-align:middle}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing{height:0;overflow:hidden;margin:0!important;padding:0!important}
.dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom:1px solid #D1D5DB}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,.dataTables_wrapper.no-footer div.dataTables_scrollBody>table{border-bottom:0}
.dataTables_wrapper:after{visibility:hidden;display:block;content:"";clear:both;height:0}
@media screen and (max-width:767px){.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{float:none;text-align:center}
.dataTables_wrapper .dataTables_paginate{margin-top:.5em}
}@media screen and (max-width:640px){.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{float:none;text-align:center}
.dataTables_wrapper .dataTables_filter{margin-top:.5em}
}
thead, th {text-align: left;}
