<!DOCTYPE html>
<head>
	<title>404 - All the tiramisu is gone!</title>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link href="https://uploads-ssl.webflow.com/601fae68d9d9616ae6ee46da/css/fourohfour.webflow.10cf654aa.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="w-layout-grid grid">
		<h1 class="heading-2">404</h1>
		<img src="https://i.ibb.co/5L5qKfd/pigcake.jpg"/>
        <p class="paragraph">Someone ate all the tiramisu... is this a broken link?</p>
	</div>