<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">

<title>Profile for {{ displayname }} | Tiramisu</title>
<link rel="shortcut icon" type="image/jpg" href="https://i.ibb.co/sw3P3zZ/tiramis2.png"/>

<div class="hedd">
    <h1>tiramisu</h1>
    <h4>Tiramisu v{{ version }} by literaiiy / floraphile</h4>
</div>
<hr>
<body>
    {% if rank != '' and 'YOUTUBE' not in rank %}
        <h1><span class="{{ rankcolor }}"><b>[{{ rank }}]</b></span> {{ displayname }}</h1>
        <style>
        .aqua{color:#0ff}.lime{color:#00ff7f}.gold{color:#ff8c00}.blue{color:#1e90ff}.green{color:#2e8b57}.red{color:#dc143c}.cyan{color:#20b2aa}.pink{color:#ba55d3}
        </style>

    {% elif rank == '' %}
        <h1>{{ displayname }}</h1>
    {% elif 'YOUTUBE' in rank %}
        <h1><span class="{{ rankbracketcolor }}"><b>[</b></span><span class="gray"></span><b>{{ rank }}</b></span><span class="{{ rankbracketcolor }}"><b>]</b></span> {{ displayname }}</h1>
        <style>
        .gray{color:#d3d3d3}.red{color:#dc143c}
        </style>

    {% endif %}

    <p>{{ uuid }}</p>

        <!--- TABLE --->
        <table>
            {% for dict_item in namehis %}
            <tr>
                {% for value in dict_item.values() %}
                    {% if value|int != 0 %}
                        <td><b>{{ value }}</b></td>
                    {% elif value == namehis[0]['name'] %}
                        <td style="color:royalblue"><a href="https://tiramisu.cc/p/{{ value }}" style="text-decoration:none" >{{ value }}</a></td>
                    {% elif value == namehis[namehis|length-1]['name'] %}
                        <td style="color:green"><a.one href="localhost:5000/p/{{ value }}" style="text-decoration:none" >{{ value }}</a.one></td/>
                    {% elif value in dict_item['name'] %}
                        <td style="color:red"><a.two href="localhost:5000/p/{{ value }}" style="text-decoration:none" >{{ value }}</a.two></td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
</body>

<hr>

<div class="stats">
{% if firstLoginUnix != 1 %}
    <p>karma is <b>{{ reqList }}</b></p>

    <p>Level <b>{{ level }} {{ multiplier}}</b> / <b>{{ levelProgress }}%</b> to <b>{{ levelplusone }}</b> </p>
    <p><b>{{ achievements }}</b> achievements for <b>{{ achpot }}</b> achievement points</p>

    {% if lastLoginUnix == 1 %}
        <p></p>
    {% else %}
        <p>Last login: <b>{{ lastLogin }}</b></p>
    {% endif %}

    {% if firstLoginUnix == 1 %}
        <p></p>
    {% else %}
        <p>First login: <b>{{ firstLogin }}</b></p>
    {% endif %}

    <h2>SkyWars</h2>
    <p><b>{{ swGamesPlayed }}</b> games played <br>
        <b>{{ swGamesQuit }}</b> games quit <br>
        {{ swKills }} kills - {% if swHeadDesc == '0' %} <p>Eww!</p> {% else %} <i>{{ swHeadDesc }}</i>{% endif %} <br>
        {{ swDeaths }} deaths <br>
        {{ swKD }} K/D <br>
        {{ swAssists }} assists <br>
        {{ swWins }} wins<br>
        {{ swLosses }} losses <br>
        {{ swWL }} W/L - {{ swWinRate }}% win rate <br>
        {{ swSurvived }} players survived <br>
        {{ swWinstreak }} winstreak <br>
        {{ swSouls }} souls <br>
        {{ swHeads }} heads <br>
        {{ swCoins }} coins <br>
        {{ swBlocks }} blocks broken <br>
        {{ swEggs }} eggs thrown <br>
        {{ swArrowsShot }} arrows shot, {{ swArrowsHit }} arrows hit - {{ swArrowRate }}% hit rate<br>
        Fastest win: {{ swFastestWin }} <br>
        {{ swChestsOpened }} chests opened
    </p>

    <hr>
    <p>Tiramisu v{{ version }} "{{ codename }}" from {{ tiramisudate }}</p>
    <p>Flask v{{ flaskver }} from {{ flaskverdate }}</p>
    <p>Python v{{ pythonver }} from {{ pythonverdate }}</p>
    {% else %}
    <p>It doesn't seem like this person has ever played on Hypixel.</p>
{% endif %}

</div>
<footer>
    <p>Copyright © 2021 literaiiy / floraphile. All rights reserved.</p>
</footer>