{% extends "index.html" %}




{% block head %}
<!--- HEADER --->
<head>
    <title>Profile for {{ displayname }} | Tiramisu</title>
    <link rel="icon" href="https://cached.imagescaler.hbpl.co.uk/resize/scaleHeight/815/cached.offlinehbpl.hbpl.co.uk/news/OMC/AsdaResized-20150223115224441.jpg">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='splide.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Interfamily=Meddon&family=Allerta&family=Palanquin:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orienta&display=swap" rel="stylesheet">
</head>
{% endblock %}

{% block content %}
<!--- SUBTITLE --->
<body>
<!--- USERNAME --->
<div id='username' class="header username">
    {% if '+++' in rank %}
        <span class="light_purple"><b>[{{ rank.replace('+++','') }}<span class="mvpaqua">+++</span>]</b></span> {{ displayname }}
    {% elif '++' in rank %}
        <span class="{{ rankcolor }}"><b>[{{ rank.replace('++','') }}<span class="{{ pluscolor }}">++</span>]</b></span> {{ displayname }}
    {% elif '+' in rank %}
        <span class="{{ rankcolor }}"><b>[{{ rank.replace('+','') }}<span class="{{ pluscolor }}">+</span>]</b></span> {{ displayname }}
    {% elif rank != '' and 'YOUTUBE' not in rank %}
        <span class="{{ rankcolor }}"><b>[{{ rank }}]</b></span> {{ displayname }}
    {% elif rank == '' %}
        {{ displayname }}
    {% elif 'YOUTUBE' in rank %}
        <span class="{{ rankbracketcolor }}"><b>[</b></span><span class="gray"></span><b>{{ rank }}</b></span><span class="{{ rankbracketcolor }}"><b>]</b></span> {{ displayname }}</h2>
    {% endif %}
    <div id='uuid' class="uuid">
        {{ uuid }}
    </div>    
</div>

<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    document.getElementById("username").style.fontSize = "30px";
    document.getElementById("uuid").style.fontSize = "0";
  } else {
    document.getElementById("username").style.fontSize = "42px";
    document.getElementById("uuid").style.fontSize = "16px";
  }
}
</script>

<!--- help --->
<style> 
    body { 
        animation: fadeInAnimation ease 3s; 
        animation-iteration-count: 1; 
        animation-fill-mode: forwards; 
    } 
    @keyframes fadeInAnimation { 
        0% { 
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
        } 
    } 
</style>

<div class="row">
    <div class="columnZ">
        <img style='position: relative;margin-top:10px; margin-left:-500px;z-index:3;' src='https://mc-heads.net/body/{{ uuid }}/right'><br>
        <div style='margin-right:1%;margin-top:-300px;z-index:2;' class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li style='background-color:#ff55ff;padding:100px;border-radius: 25px;color: #aa00aa;' class="splide__slide">
                        <p><span style='font-size: 55;'>{{ reqList }}</span></p>
                        karma
                    </li>
                    <li style='background-color:#ffff55;padding:100px;border-radius: 25px;color:#55ffff' class="splide__slide">
                        <p><span style='font-size: 55;'>{{ achpot }}</span></p> 
                        achievement points from <b>{{achievements}}</b> achievents
                    </li>
                    <li style='background-color:mintcream;padding:100px;border-radius: 25px;color:#aaaaaa' class="splide__slide">
                        <p><span style='font-size: 55;'>{{quests}}</span></p>
                        quests
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='splide.js') }}"></script>
    </div>
    <div class="columnA">
        <!--- NAME HISTORY --->
        <div class='table'>
            <table id="table_id" class="compact hover order-column stripe">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th> 
                        <th>Time changed</th>
                        <th>Duration had</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dict_item in namehis %}
                    <tr>
                        {% for value in dict_item.values() %}
                            {% if value|int != 0 %}
                                <td><b>{{ value }}</b></td>
                            {% elif value == namehis[0]['name'] %}
                                <td style="color:midnightblue"><a href="/p/{{ value }}" style="text-decoration:none" >{{ value }}</a></td>
                            {% elif value == namehis[namehis|length-1]['name'] %}
                                <td style="color:rgb(135, 170, 235)"><a class="nhfirst" href="/p/{{ value }}" style="text-decoration:none" >{{ value }}</a></td>
                            {% elif value in dict_item['name'] %}
                                <td style="color:rgb(107, 137, 221)"><a class="nhmiddle" href="/p/{{ value }}" style="text-decoration:none" >{{ value }}</a></td>
                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                $(document).ready( function () {
                    $('#table_id').DataTable( {
                        "order": [[ 0, "desc" ]],
                        "bLengthChange": false,
                        "pageLength": 200,
                        "bPaginate": false,
                        "sDom": '<"top"if>rt<"clear">'
                    });
                });
            </script>
        </div>
    </div>
    <div class="columnB">
        <div class="vl"></div>

        <!------ PLAYER DESC ------>
        <div class="desc">
        <p>
        <!--- SESSION --->
        {% if currentSession != False %}
            <p style='color:green;'>Playing <b>{{ currentSession }}</b> - in <b>{{ sessionType }}</b></p>
        {% else %}
            <p style='color:red;'><b>Offline</b></p>
        {% endif %}

        <!--- LEVEL --->
        Level <b>{{ level }} {{ multiplier }}</b> / <b>{{ levelProgress }}%</b> to <b>{{ levelplusone }}</b><br>

        <!--- KARMA --->
        karma is <b class='pink'>{{ reqList }}</b><br>

        <!--- ACHIEVEMENTS --->
        <b>{{ achievements }}</b> achievements for <b>{{ achpot }}</b> achievement points<br>

        <!--- QUESTS --->
        <b class="questfellow">{{ quests }}</b> quests finished<br>

        <!--- GUILD --->
        {% if guildList[0] != 0 %}
            <b>{{ guildList[2] }}</b> in guild <b>{{ guildList[1] }}<span class='{{ guildList[3] }}'> [{{ guildList[0] }}]<span></b></p>
        {% endif %}

        <!--- SENIORITY  --->
        {% if firstLoginUnix > 1357027200 %}
        <b>{{ seniority }}</b> - Joined {{ joinedAgoText }} ago<br>
        {% endif %}

        <!--- RANK SENIORITY --->
        {% if 'VIP' in rank or 'MVP' in rank %}
            {% if '+' in rank %}
                <span class="{{ rankcolor }}"><b>[{{ rank.replace('+','') }}<span class="{{ pluscolor }}">+</span>]</b></span> bought <b>{{ boughtPastTime }}</b> - {{ boughtPastRank }} ago
            {% elif boughtPastRank != 0 %}
                <span class="{{ rankcolor }}"><b>[{{ rank }}]</b></span> bought <b>{{ boughtPastTime }}</b> - {{ boughtPastRank }} ago<br>
            {% endif %}
        {% endif %}


        <!--- FIRST/LAST LOGIN --->
        <p>
        {% if lastSession != False %}
            Last session: <b>{{ lastSession }}</b><br> 
        {% endif %}
        {% if lastLogoutUnix != 1 %}
            Last logout: <b>{{ lastLogout }}</b>
        {% endif %}
        <br>
        {% if lastLoginUnix != 1 %}
            Last login: <b>{{ lastLogin }}</b>
        {% endif %}
        <br>
        {% if firstLoginUnix != 1 %}
            First login: <b>{{ firstLogin }}</b>
        {% endif %}
        </p>

        <!--- SOCIAL MEDIA --->
        {% if twitter != [] %}
            <span class="twitter"><b>Twitter: </b></span><a href='{{ twitter[1] }}'>@{{ twitter[0] }}</a><br>
        {% endif %}
        {% if instagram != [] %}
            <span class="instagram"><b>Instagram: </b></span><a href='{{ instagram[1] }}'>@{{ instagram[0] }}</a><br>
        {% endif %}
        {% if twitch != [] %}
            <span class="twitch"><b>Twitch: </b></span><a href='{{ twitch[1] }}'>@{{ twitch[0] }}</a><br>
        {% endif %}
        {% if discord != '' and 'discord.gg' not in discord %}
            <span class="discord"><b>Discord: </b></span>@{{ discord }}<br>
        {% elif 'https://discord.gg' in discord or 'http://discord.gg' in discord %}
            <span class="discord"><b>Discord :</b></span> <a href='{{ discord }}'>{{ discord }}</a><br>
        {% elif 'discord.gg' in discord %}
            <span class="discord"><b>Discord: </b></span> <a href='https://{{ discord }}'>{{ discord }}</a><br>
        {% endif %}
        {% if hypixelForums != [] %}
            <span class="hypixelForums"><b>Hypixel Forums:</b></span> <a href='{{ hypixelForums[1] }}'>@{{ hypixelForums[0] }}</a><br>
        {% endif %}
        {% if youtube != [] %}
            <span class="youtube"><b>YouTube: </b></span><a href='{{ youtube[1] }}'>{{ youtube[0] }}</a><br>
        {% endif %}
        <!--- FRIENDS --->
        <button id='myBtn' href="/f/{{ username }}">Friends List</button><br>
        <div id="myModal" class="modal">
        <script>
        var modal = document.getElementById("myModal");
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {modal.style.display = "block"; window.location.replace('/f/{{ username }}')}
        </script>

        <div class="modal-content">
        <div class="loader"></div>
        <p>Friends list loading. It may take longer or shorter depending on the amount of friends you have. TEST</p>
        </div>
        </div>
        </div>
    </div>
</div>

<!------ PLAYER STATS ------>
<div class="stats">

    <!--- SKYWARS STATS --->
    <div class='header h2d'>SkyWars</div>
    <div class='h3d'><p><span class="{{ swPrestigeColor }}"><b></span>{{ swExp }}</b> SkyWars experience · <b><span class="{{ swPrestigeColor }}">[{{ swLevel }}☆]</b></span>, {{ swPrestige }} Prestige - <span class="{{ swPrestigeColor }}"><b>{{ swToNL }}%</b></span> to <b>{{ swNextLevel }}</b><br></p></div>
    <table class='swgeneral'>
        <colgroup>
            <col class="leftsw">
            <col class="rightsw">
        </colgroup>
        <tr>
                <td><b>{{ swGamesPlayed }}</b> games played</td>
                <td><b>{{ swWinstreak }}</b> winstreak </td>
        </tr>
        <tr>
                <td><b>{{ swGamesQuit }}</b> games quit</td>
                <td><b>{{ swSouls }}</b> souls </td>
        </tr>
        <tr>
                <td style='color:red'><b>{{ swKD }}</b> K/D</td>
                <td><b>{{ swHeads }}</b> heads </td>
        </tr>
        <tr>
                <td style='color:red'><b>{{ swKDA }}</b> K/D/A</td>
                <td><b>{{ swCoins }}</b> coins </td>
        </tr>
        <tr>
                <td><b>{{ swKills }}</b> kills - <span class='{{ swHeadColor }}'><b>{{ swHeadDesc }}</b></span></td>
                <td><b>{{ swBlocks }}</b> blocks broken </td>
        </tr>
        <tr>
                <td><b>{{ swAssists }}</b> assists </td>
                <td><b>{{ swEggs }}</b> eggs thrown </td>
        </tr>
        <tr>
                <td><b>{{ swDeaths }}</b> deaths</td>
                <td><b>{{ swArrowsShot }}</b> arrows shot, <b>{{ swArrowsHit }}</b> arrows hit</td>
        </tr>
        <tr>
                <td><b>{{ swWL }}</b> W/L - <b>{{ swWinRate }}%</b> win rate </td>
                <td><b>{{ swArrowRate }}%</b> arrow hit rate</td>
        </tr>
        <tr>
                <td><b>{{ swWins }}</b> wins</td>
                <td>Fastest win: <b>{{ swFastestWin }}</b> </td>
        </tr>
        <tr>
                <td><b>{{ swLosses }}</b> losses </td>
                <td><b>{{ swChestsOpened }}</b> chests opened</td>
        </tr>
        <tr>
                <td><b>{{ swSurvived }}</b> players survived </td>
                <td>Highest-kill game: <b>{{ swHighestKills }} kills</b></td>
        </tr>
        <tr>
                <td><b>{{ swKW }}</b> kills per win </td>
                <td><b>{{ swBPG }}</b> blocks broken per game </td>
        </tr>
        <tr>
                <td><b>{{ swKL }}</b> kills per loss </td>
                <td><b>{{ swEPG }}</b> eggs thrown per game </td>
        </tr>
        <tr>
                <td><b>{{ swKG }}</b> kills per game </td>
                <td><b>{{ swAPG }}</b> arrows shot per game </td>
        </tr>
    </table>

        <!-- SW MODE -->
            {% for y, x in gamemodes.items() %}
                {% if x['games'] != 0 %}
                <button class='accordion'>{{y}}</button>
                <div class="panel">
                    <div>
                        <p>
                            {% if x['kd'] > 100000 %}
                                {{username}} has an <span class='gold'>infinite</span> K/D
                                {% if x['wl'] > 100000 %}
                                    and an <span class='gold'>infinite</span> W/L. Awesome!
                                {% elif x['wlrelative'][0] > 0 %}
                                    and a <b>{{ x['wlrelative'][0]|abs }}</b> higher W/L (<span class='green'>+{{ x['wlrelative'][1]|abs }}%</span>). Nice work!
                                {% elif x['wlrelative'][0] < 0 %}
                                    but a  <b>{{ x['wlrelative'][0]|abs }}</b> lower W/L (<span class='red'>{{ x['wlrelative'][1] }}%</span>). Nice work!
                                {% endif %}

                            {% elif x['kdrelative'][0] > 0 %}
                                {{username}} performs better in {{y}} than overall, with a <b>{{ x['kdrelative'][0]|abs }}</b> higher K/D (<span class='green'>+{{ x['kdrelative'][1] }}%</span>)
                                {% if x['wl'] > 100000 %}
                                    and an <span class='gold'>infinite</span> W/L. Nice work!
                                {% elif x['wlrelative'][0] > 0 %}
                                    and a <b>{{ x['wlrelative'][0]|abs }}</b> higher W/L (<span class='green'>+{{ x['wlrelative'][1]|abs }}%</span>).
                                {% elif x['wlrelative'][0] < 0 %}
                                    but a  <b>{{ x['wlrelative'][0]|abs }}</b> lower W/L (<span class='red'>{{ x['wlrelative'][1] }}%</span>).
                                {% endif %}
                                
                            {% elif x['kdrelative'][0] < 0  %}
                                {{username}} performs worse in {{y}} than overall, with a <b>{{ x['kdrelative'][0]|abs }}</b> lower K/D (<span class='red'>{{x['kdrelative'][1] }}%</span>)
                                {% if x['wl'] > 100000 %}
                                    and an <span class='gold'>infinite</span> W/L. Nice work!
                                {% elif x['wlrelative'][0] > 0 %}
                                    but a <b>{{ x['wlrelative'][0]|abs }}</b> higher W/L (<span class='green'>+{{ x['wlrelative'][1]|abs }}%</span>).
                                {% elif x['wlrelative'][0] < 0 %}
                                    and a  <b>{{ x['wlrelative'][0]|abs }}</b> lower W/L (<span class='red'>{{ x['wlrelative'][1] }}%</span>).
                                {% endif %}
                            {% else %}
                                {{username}} performs as average in Solo.
                            {% endif %}
                        </p>
                        <p>
                            <br><b>{{ x['kills'][0] }}</b> kills <b>({{ x['kills'][1]|round(2) }}%)</b>
                            <br><b>{{ x['deaths'][0] }}</b> deaths <b>({{ x['deaths'][1]|round(2) }}%)</b>
                            <br><b>{{x['assists'][0]}}</b> assists  <b>({{ x['assists'][1]|round(2) }}%)</b>
                            {% if x['kd'] > 100000 %}
                                <br><b>∞</b> K/D
                            {% else %}
                                <br><b>{{ x['kd'] }}</b> K/D
                            {% endif %}
                            <br><b>{{ x['survived'][0] }}</b> players survived <b>({{ x['survived'][1]|round(2) }}%)</b>
                            <br><b>{{x['games'][0]}}</b> games played <b>({{ x['games'][1]|round(2) }}%)</b>
                            <br><b>{{x['wins'][0]}}</b> wins <b>({{ x['wins'][1]|round(2) }}%)</b>
                            <br><b>{{x['losses'][0]}}</b> losses <b>({{ x['losses'][1]|round(2) }}%)</b>
                            {% if x['wl'] > 100000 %}
                                <br><b>∞</b> W/L - <b>∞%</b> win rate
                            {% else %}
                                <br><b>{{ x['wl'] }}</b> W/L - <b>{{x['winperc']}}%</b> win rate
                            {% endif %}
                            <br><b>{{x['kit']}}</b> currently equipped
                            <br>Fastest win: <b>{{x['fastestwin']}}</b>
                            <br>Highest-kill game: <b>{{x['highkill']}}</b> kills
                        </p>
                {% endif %}
                    </div>
                </div>
            {% endfor %}

        <!-- SW MODE 2-->
            {% for y, x in gamemodes2.items() %}
                {% if x['games'][0] != 0 %}
                <button class='accordion'>{{y}}</button>
                <div class="panel">
                    <div>
                        <p>
                        {% if x['kd'] > 100000 %}
                            {{username}} has an <span class='gold'>infinite</span> K/D
                            {% if x['wl'] > 100000 %}
                                and an <span class='gold'>infinite</span> W/L. Awesome!
                            {% elif x['wlrelative'][0] > 0 %}
                                and a <b>{{ x['wlrelative'][0]|abs }}</b> higher W/L (<span class='green'>+{{ x['wlrelative'][1]|abs }}%</span>). Nice work!
                            {% elif x['wlrelative'][0] < 0 %}
                                but a  <b>{{ x['wlrelative'][0]|abs }}</b> lower W/L (<span class='red'>{{ x['wlrelative'][1] }}%</span>). Nice work!
                            {% endif %}

                        {% elif x['kdrelative'][0] > 0 %}
                            {{username}} performs better in {{y}} than overall, with a <b>{{ x['kdrelative'][0]|abs }}</b> higher K/D (<span class='green'>+{{ x['kdrelative'][1] }}%</span>)
                            {% if x['wl'] > 100000 %}
                                and an <span class='gold'>infinite</span> W/L. Nice work!
                            {% elif x['wlrelative'][0] > 0 %}
                                and a <b>{{ x['wlrelative'][0]|abs }}</b> higher W/L (<span class='green'>+{{ x['wlrelative'][1]|abs }}%</span>).
                            {% elif x['wlrelative'][0] < 0 %}
                                but a  <b>{{ x['wlrelative'][0]|abs }}</b> lower W/L (<span class='red'>{{ x['wlrelative'][1] }}%</span>).
                            {% endif %}
                            
                        {% elif x['kdrelative'][0] < 0  %}
                            {{username}} performs worse in {{y}} than overall, with a <b>{{ x['kdrelative'][0]|abs }}</b> lower K/D (<span class='red'>{{x['kdrelative'][1] }}%</span>)
                            {% if x['wl'] > 100000 %}
                                and an <span class='gold'>infinite</span> W/L. Nice work!
                            {% elif x['wlrelative'][0] > 0 %}
                                but a <b>{{ x['wlrelative'][0]|abs }}</b> higher W/L (<span class='green'>+{{ x['wlrelative'][1]|abs }}%</span>).
                            {% elif x['wlrelative'][0] < 0 %}
                                and a  <b>{{ x['wlrelative'][0]|abs }}</b> lower W/L (<span class='red'>{{ x['wlrelative'][1] }}%</span>).
                            {% endif %}
                        {% else %}
                            {{username}} performs as average in Solo.
                        {% endif %}
                        </p>
                        <p>
                            <br><b>{{ x['kills'][0] }}</b> kills <b>({{ x['kills'][1]|round(2) }}%)</b>
                            <br><b>{{ x['deaths'][0] }}</b> deaths <b>({{ x['deaths'][1]|round(2) }}%)</b>
                            <br><b>{{x['assists'][0]}}</b> assists  <b>({{ x['assists'][1]|round(2) }}%)</b>
                            {% if x['kd'] > 100000 %}
                                <br><b>∞</b> K/D
                            {% else %}
                                <br><b>{{ x['kd'] }}</b> K/D
                            {% endif %}
                            <br><b>{{ x['survived'][0] }}</b> players survived <b>({{ x['survived'][1]|round(2) }}%)</b>
                            <br><b>{{x['games'][0]}}</b> games played <b>({{ x['games'][1]|round(2) }}%)</b>
                            <br><b>{{x['wins'][0]}}</b> wins <b>({{ x['wins'][1]|round(2) }}%)</b>
                            <br><b>{{x['losses'][0]}}</b> losses <b>({{ x['losses'][1]|round(2) }}%)</b>
                            {% if x['wl'] > 100000 %}
                                <br><b>∞</b> W/L - <b>∞%</b> win rate
                            {% else %}
                                <br><b>{{ x['wl'] }}</b> W/L - <b>{{x['winperc']}}%</b> win rate
                            {% endif %}
                        </p>
                {% endif %}
                    </div>
                </div>
            {% endfor %}

        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                } 
            });
            }
        </script>

        <!-- Kills by -->
        {% if swKillTypeList['success'] == True %}
            <div class='h3d'>Kills by:</div>
            <p>
                {% for killType in swKillTypeList %}
                    {% if killType != 'success' %}
                        {{killType|title}}: {{ swKillTypeList[killType][0] }} ({{swKillTypeList[killType][1] }}%)<br>
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <div class='canvasContainer' style='position:relative;height:25%; width:25%'>
            <canvas id="myChart"></canvas>
            <script>
            var ctx = document.getElementById('myChart');
            // @ts-ignore
            var swKTL = {{swKTLList}};
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                responsive: true,
                maintainAspectRatio:false,
                data: {
                    labels: ['Melee', 'Void', 'Bow', 'Mob', 'Fall'],
                    datasets: [{
                        data: swKTL,
                        borderWidth: 1,
                        backgroundColor: [
                            '#4357ad',
                            '#48a9a6',
                            '#e4dfda',
                            '#D4B483',
                            '#C1666B',
                        ],
                    }]
                },
            });
            </script>
        </div>

        <!-- Time Wasted -->
        <div class='h3d'>Time Wasted</div> 
        <p>
            {% for mode in range(6) %}
                {% if swTimeModeList[mode] == 'Overall' %}
                     <b>{{ swTimeLists[0][mode] }}</b> in total <br>
                {% else %}
                    {{ swTimeModeList[mode] }}: <b>{{ swTimeLists[0][mode] }}</b> - {{swTimeLists[1][mode]}}% <br>
                {% endif %}
            {% endfor %}
        </p>
        <div class='canvasContainer2' style='position:relative;height:25%; width:25%'>
            <canvas id="myChart2"></canvas>
            <script>
            var ctx = document.getElementById('myChart2');
            // @ts-ignore
            var swTWL = {{swTimeListPercMinusOverall}}
            var myChart2 = new Chart(ctx, {
                type: 'doughnut',
                responsive: true,
                maintainAspectRatio:false,
                data: {
                    labels: ['Solo', 'Teams', 'Mega', 'Ranked', 'Laboratory'],
                    datasets: [{
                        data: swTWL,
                        borderWidth: 1,
                        backgroundColor: [
                            '#283044',
                            '#78a1bb',
                            '#ebf5ee',
                            'bfa89e',
                            '8b786d',
                        ]
                    }]
                },
            });
            </script>
        </div>

        <p>
        {% for item in swUnitConvList %}
            <b>{{ '{0:,}'.format(item[0]) }}</b> {{ item[1] }} <br>
        {% endfor %}
        </p>

        <p>
        {% for item in swUnitConvList2 %}
            {{ item[0] }}<b>{{ '{0:,}'.format(item[1]) }}</b>{{ item[2] }} <br>
        {% endfor %}
        </p>

        <p>Since your first login, you have spent <b>{{ swKWperLists[2] }}%</b> of life playing SkyWars. </p>
        
        {% for item in swKWperLists[0] %}
            <b>{{item[0]}}</b> kills per {{item[1]}}<br>
        {% endfor %}
        {% for item in swKWperLists[1] %}
            <b>{{item[0]}}</b> wins per {{item[1]}}<br>
        {% endfor %}

        <div class="h3d">Souls</div>

        <p>
        {% for thing in swSoulList %}
            <span class="{{ thing[2] }}"><b>{{ thing[0] }}</b> {{ thing[1] }} <br></span>
        {% endfor %}
        </p>

        <div class='canvasContainerSouls' style='position:relative;height:25%; width:25%'>
            <canvas id="myChartSouls"></canvas>
            <script>
            var ctx = document.getElementById('myChartSouls');
            // @ts-ignore
            var swSRL = {{swSoulsRaritiesList}};
            var myChartSouls = new Chart(ctx, {
                type: 'doughnut',
                responsive: true,
                maintainAspectRatio:false,
                data: {
                    labels: ['Commons', 'Rares', 'Legendaries'],
                    datasets: [{
                        data: swSRL,
                        borderWidth: 1,
                        backgroundColor: [
                            '#0a0',
                            '#55f',
                            '#fa0',
                        ],
                    }]
                },
            });
            </script>
        </div>
        <div class="h3d">Heads</div>
        <p><b>OVERALL</b><br>
        {% for item in swHeadsListList[0] %}
            <b><span class="{{item[2]}}">{{item[0]}}:</b></span> {{item[1]}} ({{item[3]}}%)<br>
        {% endfor %} </p>
        <div class='headscont' style='position:relative;height:25%; width:25%'>
            <canvas id="heads"></canvas>
            <script>
            var ctx = document.getElementById('heads');
            // @ts-ignore
            var swHLO = {{swHeadsRaw}};
            var heads = new Chart(ctx, {
                type: 'doughnut',
                responsive: true,
                maintainAspectRatio:false,
                data: {
                    labels: ['Eww', 'Yucky', 'Meh', 'Decent', 'Salty', 'Tasty', 'Succulent', 'Sweet', 'Divine', 'Heavenly'],
                    datasets: [{
                        data: swHLO,
                        borderWidth: 1,
                        backgroundColor: [
                            '#808080',
                            '#A9A9A9',
                            '#D3D3D3',
                            '#DACB00',
                            '#0a0',
                            '#00AAAA',
                            '#FF55FF',
                            '#AA00AA',
                            'gold',
                            'chocolate',
                        ],
                    }]
                },
            });
            </script>
        </div>

        <p><b>SOLO</b><br>
        {% for item in swHeadsListList[1] %}
            <b><span class="{{item[2]}}">{{item[0]}}:</b></span> {{item[1]}} ({{item[3]}}%)<br>
        {% endfor %}</p>
        <div class='headscontsolo' style='position:relative;height:25%; width:25%'>
            <canvas id="headssolo"></canvas>
            <script>
            var ctx = document.getElementById('headssolo');
            // @ts-ignore
            var swHLS = {{swHeadsRawSolo}};
            var headssolo = new Chart(ctx, {
                type: 'doughnut',
                responsive: true,
                maintainAspectRatio:false,
                data: {
                    labels: ['Eww', 'Yucky', 'Meh', 'Decent', 'Salty', 'Tasty', 'Succulent', 'Sweet', 'Divine', 'Heavenly'],
                    datasets: [{
                        data: swHLS,
                        borderWidth: 1,
                        backgroundColor: [
                            '#808080',
                            '#A9A9A9',
                            '#D3D3D3',
                            '#DACB00',
                            '#0a0',
                            '#00AAAA',
                            '#FF55FF',
                            '#AA00AA',
                            'gold',
                            'chocolate',
                        ],
                    }]
                },
            });
            </script>
        </div>

        <p><b>TEAMS</b><br>
        {% for item in swHeadsListList[2] %}
            <b><span class="{{item[2]}}">{{item[0]}}:</b></span> {{item[1]}} ({{item[3]}}%)<br>
        {% endfor %}</p>
        <div class='headscontteam' style='position:relative;height:25%; width:25%'>
            <canvas id="headsteam"></canvas>
            <script>
            var ctx = document.getElementById('headsteam');
            // @ts-ignore
            var swHLT = {{swHeadsRawTeam}};
            var headsteam = new Chart(ctx, {
                type: 'doughnut',
                responsive: true,
                maintainAspectRatio:false,
                data: {
                    labels: ['Eww', 'Yucky', 'Meh', 'Decent', 'Salty', 'Tasty', 'Succulent', 'Sweet', 'Divine', 'Heavenly'],
                    datasets: [{
                        data: swHLT,
                        borderWidth: 1,
                        backgroundColor: [
                            '#808080',
                            '#A9A9A9',
                            '#D3D3D3',
                            '#DACB00',
                            '#0a0',
                            '#00AAAA',
                            '#FF55FF',
                            '#AA00AA',
                            'gold',
                            'chocolate',
                        ],
                    }]
                },
            });
            </script>
        </div>

        <div class="h3d">Angel's Descent</div>
        {% for a, b in swOpals.items() %}
            {% if a == 'shards per kill' or a == 'shards per game' or a == 'opals from prestige' %}
                <b>{{b}}</b> {{a}} <br>
            {% elif a == 'opals' %}
                <span class="dark_blue"><b>{{b}}</b> {{a}}</span><br>
            {% elif a == 'shards' %}
                <span class="mvpaqua"><b>{{b}}</b> {{a}}</span><br>
            {% elif a == 'until next opal' %}
                <b>{{b}}</b> ({{swOpals['shardsTilNextPerc']}}%) shards until next opal <br>
                    {% for x in range(swOpals['shardsTilNextPrBa']) %}<b><span class="dark_blue">/</span></b>{% endfor %}{% for x in range(32-swOpals['shardsTilNextPrBa']) %}<span class='blue'>/</span>{% endfor %}<br>
            {% elif a == 'shard_solo' %}
                <b>{{b}}</b> shards from solo ({{swOpals['shard_solo_perc']}}%) <br>
            {% elif a == 'shard_team' %}
                <b>{{b}}</b> shards from teams ({{swOpals['shard_team_perc']}}%) <br>
            {% endif %}
        {% endfor %}

</body>
{% endblock %}