<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/jpg" href="https://i.ibb.co/sw3P3zZ/tiramis2.png"/>

<html>
    <title>Tiramisu - Name History and Hypixel Stats</title>
<head>

<body>
	<h1>Tiramisu by floraphile - index.html - v0.01alpha  </h1>
	<hr>
	<form action="/" method="POST">
		<input type="text" name="content" id="content">
		<input type="submit" value ="Search">
	</form>
	<hr>
</body>

<footer>
	Copyright 2021 floraphile. All rights reserved.
</footer>
</html>