<meta charset="UTF-8">

<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
<div class="logo">
	<a href='/'><img src='https://raw.githubusercontent.com/gist/literaiiy/33ee272214fd81eb35a54f083bf1a4ed/raw/90ea53a78161bbda95c00fa17c4ddd88c015a27c/tiramisudelta2.svg' alt="Tiramisu Logo" height='6%' width='auto'></a>
	<form action="/" method="POST">
		<input type="text" name="content" id="content" autofocus="autofocus" onfocus="this.select()" autocomplete="off" spellcheck="false" placeholder="Search username or UUID">
		<script>
			if ( window.history.replaceState ) {
				window.history.replaceState( null, null, window.location.href );
			}
		</script>
		<input class="searchbutton" type="submit" value ="Q">
	</form>
</div>

{% block head %}
<head>
<link rel="icon" href="{{ url_for('static', filename='tiramisu.ico') }}">
<title>Tiramisu - Name History and Hypixel Stats</title>
</head>
{% endblock %}

<div id="loadOverlay" style="background-color:#fff; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">

{% block content %}
<div class='h2d'>
	<h2>Player Counts</h2>
</div>
<body>
	<table id='table_id' class='tabbol'>
		<thead>
			<tr>
				<th>#</th>
				<th>Game</th>
				<th>Player Count</th>
				<th>Portion</th>
			</tr>
		</thead>
		<tbody>
			{% for dictitem in gameDict %}
			<tr>
				{% if dictitem['game'] == 'Total Player Count' %}
					<td><span class='red'></span></td>
					<td><span class='red'>{{ dictitem['game'] }}</span></td>
					<td><span class='red'>{{ '{0:,}'.format(dictitem['playerCount']) }}</span></td>

				{% elif dictitem['game'] == 'Main Lobby' %}
					<td><span class='firebrick'><b>{{ dictitem['pos'] }}</b></span></td>
					<td><span class='firebrick'>{{ dictitem['game'] }}</span></td>
					<td><span class='firebrick'>{{ '{0:,}'.format(dictitem['playerCount']) }}</span></td>
					<td><span class='firebrick'>{{ (100*dictitem['playerCount'] / gameDict[0]['playerCount'])|round(3) }}%</span></td>
				{% elif dictitem['game'] == 'Watching a replay' %}
					<td><span class='cyan'><b>{{ dictitem['pos'] }}</b></span></td>
					<td><span class='cyan'>{{ dictitem['game'] }}</span></td>
					<td><span class='cyan'>{{ '{0:,}'.format(dictitem['playerCount']) }}</span></td>
					<td><span class='cyan'>{{ (100*dictitem['playerCount'] / gameDict[0]['playerCount'])|round(3) }}%</span></td>
				{% elif dictitem['game'] == 'In limbo' %}
					<td><span class='green'><b>{{ dictitem['pos'] }}</b></span></td>
					<td><span class='green'>{{ dictitem['game'] }}</span></td>
					<td><span class='green'>{{ '{0:,}'.format(dictitem['playerCount']) }}</span></td>
					<td><span class='green'>{{ (100*dictitem['playerCount'] / gameDict[0]['playerCount'])|round(3) }}%</span></td>
				{% elif dictitem['game'] == 'Idle' %}
					<td><span class='gold'><b>{{ dictitem['pos'] }}</b></span></td>
					<td><span class='gold'>{{ dictitem['game'] }}</span></td>
					<td><span class='gold'>{{ '{0:,}'.format(dictitem['playerCount']) }}</span></td>
					<td><span class='gold'>{{ (100*dictitem['playerCount'] / gameDict[0]['playerCount'])|round(3) }}%</span></td>
				{% else %}
					<td>{{ dictitem['pos'] }}</td>
					<td>{{ dictitem['game'] }}</td>
					<td>{{ '{0:,}'.format(dictitem['playerCount']) }}</td>
					<td>{{ (100*dictitem['playerCount'] / gameDict[0]['playerCount'])|round(3) }}%</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
<div class='h2d'>
	<h2>Welcome to <b>tiramisu</b>!</h2>
</div>

<div class='paragraphd'>
<p>Welcome to tiramisu. Lorem ipsum some dumb BS here. I was made by floraphile in 2021, something about Visual Studio Code, which is a software created by Microsoft somewhere after 2015. Wikipedia might have a good article on it, but I'm not sure, because I didn't look it up. This is just filler text. I don't even know if this is going to wrap correctly.</p>
</div>
{% endblock %}



<div class="footerd">
		<p>tiramisu <b>v0.4δ "delta" (Testing Phase)</b> - February 18th, 2021 · Flask <b>v1.1.2</b> · Python <b>v3.7.9</b><p>
	<p>Copyright © 2021 <a style='text-decoration:none;color:rgb(205, 248, 227);' href='/p/floraphile'>floraphile</a>. All rights reserved. Terms of Service. Privacy Policy. Credits.</p>
</div>
