{% extends 'index.html' %}

{% block head %}
{% endblock %}
{% block content %}
<head>
    <title>Privacy Policy | tiramisu</title>
    <meta property="og:title" content="Privacy Policy | tiramisu" />
</head>
<div class='flex-1 grid grid-cols-1 sm:py-2 sm:px-4 md:py-4 md:py-4 lg:py-10 lg:px-20 sm:leading-1 md:leading-3 lg:leading-10'>
    <div class="text-4xl font-semibold">Privacy Policy</div>
    <br>
    <hr>
    <br>
    <p>
        This webpage describes the Personal Information (with "PI" as an alias) that is collected when the User uses tiramisu (tiramisu.vip) or any other literaiiy service. This policy applies sitewide.
    </p>
    <br>
    <div class="text-2xl">How personal data is used</div>
    <p>
        tiramisu may collect usage data, data concerning the User's usage of the tiramisu website that may include IP address, geolocation, browser, operating system, page view length, and more.
        This information is used solely to create an understanding of the site's viewership; irreversible aggregate data in the sense that the User's information will not be able to personally identify them.
    </p>
    <br>
    <div class="text-2xl">Transfer of your personal data</div>
    <p>
        The User's usage data may be shared with third parties with the sole purpose of interpreting site viewership statistics. The User's data will not be personally identifiable and will only appear in an aggregate dataset.
    </p>
    <br>
    <div class="text-2xl">GDPR Compliance</div>
    <p>
        The <a href="https://gdpr.eu">GDPR</a>, or General Data Protection Regulation, is a law enacted by the European Union that serves as a privacy regulation covering users within the European Union.
        No personally identifiable information is used in any form. tiramisu is compliant with GDPR.
    </p>
    <br>
    <div class="text-2xl">Revisions of this Privacy Policy</div>
    <p>
        This Privacy Policy is subject to change without prior notice. The date of change will be timestamped at the bottom of this Privacy Policy.
    </p>
    <br>
    <div class="text-2xl">Contact</div>
    <p>
        This website is operated by literaiiy (Minecraft username may differ) at <a class='underline' target='_blank' href="https://literaiiy.me">literaiiy.me</a>. If any further questions arise, please feel free to contact me at <a class='underline' href="mailto:admin@literaiiy.me">admin[a]literaiiy.me</a>, where the [a] would be replaced with an @. 
    </p>
    <br>
    <i>Last updated April 22, 2021</i>
    
</div>
{% endblock %}
