{% extends 'index.html' %}

<body>
    {% block head %}
        <head>
            <title>{{q}} doesn't exist | tiramisu</title>
        </head>
    {% endblock %}
    
    {% block content %}
        <div class="flex flex-1 flex-col justify-center justify-evenly mx-2" style='height:80vh;'>
            <div>
                <div class="text-center text-4xl"><b>{{q}} <span class="text-gray-600">doesn't exist</span></b></div><br>
                {% if noAutocorrect != True %}
                    <p class='text-center'>Did you mean to search for <a href='/p/{{noAutocorrect}}'><b>{{noAutocorrect}}</b></a>?</p>
                {% endif %}
                <p class='text-center'>{{screwup}}</p>
            </div>
            <img class='h-80 w-auto' src="https://raw.githubusercontent.com/gist/literaiiy/24ad9ce0e3eecefae731533987c68436/raw/d69bf69d37b3d9ae28d0eef3861057c8d0cba6cf/crum.svg"/>
        </div>
    {% endblock %}
</body>

